.trackList {
  line-height: 1.5;
  a {
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    padding: 0 10px;
    &:hover {
      background: rgba(200, 200, 200, 0.1);
      border-bottom: 2px solid #999;
    }
  }
  .selected a {
    border-bottom: 2px solid #666;
    background: rgba(200, 200, 200, 0.2);
  }


  &:hover {
    background: rgba(255, 255, 255, 1);
  }
  transition: background 300ms;
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  max-width: 300px;

  ol {
    margin-left: 30px;
    margin-top: 1em;
  }
  
  &::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50);
  }
}