.trackList {
  .selected {
    font-style: italic;
  }
  &:hover {
    opacity:1;
  }
  transition: opacity 300ms;
  background: rgb(255, 255, 255);
  opacity: 0.5;
  padding: 1rem;
  max-width: 300px;
  
  &::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50);
  }
}