.artist {
  padding: 0;
  .grid-container {
    padding: 1rem;
    max-width: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
  }
  a, h1 {
    color: inherit;
  }

  h1 {
    border-bottom: 1px solid #333;
  }

  h1, h2 {
    color: #333;
  }

  a {
    font-weight: bold;
    line-height: 25px;
    .thumbnail {
      width: 50px;
      height: 50px;
      margin-right: 5px;
      float: left;
      background-size: cover;
      background-position: center;
    }

    .detail {
      color: #666;
      font-weight: normal;
      &:after {
        content: "\00a0\00a0"
      }
    }
    display: block;
    border-bottom: 1px solid #999;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: #fff;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50);
  }
}