.play-bar {
  background: rgb(25, 25, 25);
  .grid-content {
    padding: 0;
  }
  .button, .button-group {
    margin: 0;
  }
  .curtime {
    font-size: 20px;
    color: #fff;
    padding: 1rem;
  }

  .progressbar {
    background:rgb(100,100,100);
  }

  .bufferbar {
    background:rgb(50,50,50);
  }

}
