<div class="footer">
    <div class="albuminfo">
        <a>Coldplay</a><br>
       <a>Always in my head</a>
    </div>
    <a><img class="albumcover" src ="http://assets.rollingstone.com/assets/images/album_review/ghost-stories-1400095149.jpg"></a>
    <button ng-click="ctrl.play()" class="playbutton">PLAY</button>
    <button ng-click="ctrl.previous()" class="prevbutton">P</button>
    <button ng-click="ctrl.next()" class="nextbutton">N</button>
    <div class="bufferbar"></div>
    <div class="progressbar"></div>
    <h2 class="curtime">3:25</h2>
    <button class="fullscreen">F</button>
</div>