<div class="footer">
    <div class="albuminfo">
        <a href="#/artist/{{ctrl.getTrack().artists[0].id}}">{{ctrl.getTrack().artists[0].name}}</a><br>
       <a href="#/albums/{{ctrl.getAlbum().id}}/tracks/{{ctrl.getTrack().id}}">{{ctrl.getTrack().name}}</a>
    </div>
    <a href="#/albums/{{ctrl.getAlbum().id}}"><img class="albumcover" src ="{{ctrl.getAlbum().images[0].url}}"></a>
    <button ng-click="ctrl.play()" class="playbutton">PLAY</button>
    <button ng-click="ctrl.previous()" class="prevbutton">P</button>
    <button ng-click="ctrl.next()" class="nextbutton">N</button>
    <div class="bufferbar" style="width:{{ctrl.getBuffered()/ctrl.getTrack().duration_secs*100}}%;"></div>
    <div class="progressbar" style="width:{{ctrl.getPosition()/ctrl.getTrack().duration_secs*100}}%;"></div>
    <h2 class="curtime">{{ctrl.getTrack().durationstr}}</h2>
    <button class="fullscreen">F</button>
</div>