<div class="grid-block play-bar">
    <div class="grid-content shrink play-buttons">
        <ul class="button-group large">
            <li>
                <a ng-click="ctrl.play()" ng-show="!ctrl.isPlaying()">
                    <i class="fa fa-fw fa-play"></i>
                </a>
                <a ng-click="ctrl.pause()" ng-show="ctrl.isPlaying()">
                    <i class="fa fa-fw fa-pause"></i>
                </a>
            </li>
            <li><a ng-click="ctrl.previous()"><i class="fa fa-fw fa-step-backward"></i></a></li>
            <li><a ng-click="ctrl.next()"><i class="fa fa-fw fa-step-forward"></i></a></li>
        </ul>
    </div>
    <div class="grid-block bars">
        <div class="grid-content shrink progressbar" style="width:{{ctrl.getPosition()/ctrl.getTrack().duration_secs*100}}%;"></div>
        <div class="grid-content shrink bufferbar" style="width:{{ctrl.getBuffered()/ctrl.getTrack().duration_secs*100-ctrl.getPosition()/ctrl.getTrack().duration_secs*100}}%;"></div>
    </div>
    <div class="grid-block shrink vertical align-center">
        <div class="grid-content shrink">
            <span class="curtime">{{ctrl.getPositionString()}}</span>
        </div>
    </div>
    <div class="grid-content shrink">
        <button class="large button"><i class="fa fa-fw fa-expand"></i></button>
    </div>
</div>