<div class="search-results grid-content">
    <div class="grid-container">
        <h1>Artists</h1>
        <ul class="grid-block medium-up-3 small-up-1">
            <li ng-repeat="artist in ctrl.artists" class="grid-content">
                <a href="#artist/{{ artist.id }}" class="clearfix">
                    <div class="thumbnail" ng-style="{ 'background-image': 'url(' + artist.thumbnail + ')' }"></div>
                    {{ artist.name }}<br>
                    <span ng-repeat="genre in artist.genres"><span class="detail">{{genre}}</span> </span>
                </a>
            </li>
        </ul>
        <h1>Albums</h1>
        <ul class="grid-block medium-up-3 small-up-1">
            <li ng-repeat="album in ctrl.albums" class="grid-content">
                <a href="#albums/{{ album.id }}" class="clearfix">
                    <div class="thumbnail" ng-style="{ 'background-image': 'url(' + album.thumbnail + ')' }"></div>
                    {{ album.name }}<br>
                    <span class="detail">{{album.album_type}}</span>
                </a>
            </li>
        </ul>
        <h1>Tracks</h1>
        <ul class="grid-block medium-up-3 small-up-1">
            <li ng-repeat="track in ctrl.tracks" class="grid-content">
                <a href="#albums/{{ track.album.id }}/tracks/{{ track.id }}">
                    {{ track.name }}
                </a>
            </li>
        </ul>
    </div>
</div>